<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/validate}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			DONE: Create a form to input the values of Bid, there are 2 buttons: Save data and Cancel to the list Bid
			 -->
			<Table>
				<tr>
					<td>Account:</td>
					<td><input type="text" th:field="*{account}"></td>
					<td th:if="${#fields.hasErrors('account')}" th:errors="*{account}">account
						Error
					</td>
				</tr>
				<tr>
					<td>Type:</td>
					<td><input type="text" th:field="*{type}"></td>
					<td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">type
						Error
					</td>
				</tr>
				<tr>
					<td>BidQuantity:</td>
					<td><input type="text" th:field="*{bidQuantity}"></td>
					<td th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}">bidQuantity
						Error
					</td>
				</tr>
				<tr>
					<td>Bid:</td>
					<td><input type="text" th:field="*{bid}"></td>
					<td th:if="${#fields.hasErrors('bid')}" th:errors="*{bid}">bid
						Error
					</td>
				</tr>
				<tr>
					<td>Ask:</td>
					<td><input type="text" th:field="*{ask}"></td>
					<td th:if="${#fields.hasErrors('ask')}" th:errors="*{ask}">ask
						Error
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="Save">
					</td>
					<td>
						<input type="submit" value="Cancel">
					</td>
				</tr>
			</Table>
		</form>
	</div>

</div>
</body>
</html>